<ion-content fullscreen class="ion-padding" scroll-y="false">
  <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">

  <ion-slides>
    <ion-slide *ngFor='let producto of productos; index as i;' class="mt-4" style="display:flex; justify-content: center; align-items: center;">
      <div class="slide bg-dark">
        <div class="card img-fluid" style="width: 15rem;background-color: transparent;">
          <div id="carousel{{i}}" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item" *ngFor='let image of producto?.fotos; first as isFirst;'
                [ngClass]="{'active': isFirst}">
                <img [src]="image" alt="" class="d-block m-auto" style="height:200px !important; width: 250px !important;">
              </div>
              <!-- [default]="spinner" [lazyload]="image -->
            </div>
            <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carousel'+i"
              data-bs-slide="prev">
              <span class="fas fa-chevron-left" style='color:black;' aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
  
            <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carousel'+i"
              data-bs-slide="next">
              <span class="fas fa-chevron-right" style='color:black;' aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="card-body">
            <h3 class="card-title">{{producto?.nombre}}</h3>
            <p class="card-text">Precio: ${{producto?.precio}}</p>
            <ion-button color="secondary" (click)="enviarProducto(producto)" type="button">Agregar al pedido</ion-button>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
  </div>
</ion-content>


