body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
  
  h1 {font-weight: 400;line-height: 1.2;
}
  p {font-size: 1.125rem;
}
  h1,p {margin-top: 0;margin-bottom: 0.5rem;
}
  button {border: none;
}
  
.header {padding: 0 0.625rem;
    margin-bottom: 1.875rem;
}
  
.description {
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

ion-content{
  --background: url('../../../../assets/fondo-deshabilitado.jpg') center 20%;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
}

/* Add padding to container elements */
.containerForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 800px;
  min-width: 300px;
  left: 50%;
  top: 120%;
  margin: 5% auto;
  border:1px solid #ccc;
  border-radius:10px;
  background-color: #120711b3 !important;
  background:white;
  -webkit-box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
  -moz-box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
  box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
}

.clue {
    margin-left: 0.25rem;
    font-size: 0.9rem;
    color: #e4e4e4;
}
  
  /* form */
  
form {
    background: var(--color-darkblue-alpha);
    border-radius: 0.25rem;
}



input[type=file] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

@media screen and (max-width: 510px) {
  .signupbtn {
     width: 100%;
  }
  
  .containerForm{
      width: 350px;
  }
}