<ion-header>
  <ion-toolbar>
    <ion-title>Espere a su pedido</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="first" >Menu</ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div class="container mt-3">
    <div class="row flex-lg-row-reverse align-items-center justify-content-center g-5">
      <div class="col-12 col-sm-8 col-lg-6 text-center">
        <img src="../../../assets/restaurant.png" class="img-fluid" alt="Bootstrap Themes" width="300" height="100" loading="lazy">
      </div>
      <div class="col-lg-12 text-center bg">
        <p class="fs-4">Escanee el código QR de su mesa para poder acceder a diferentes opciones.</p>
        <i class="fas fa-qrcode pt-3 ps-2 mb-1" (click)="Scan()" style="font-size: 80px;"></i>
      </div>
      <div *ngIf="pedidoDelCliente?.estado != 'recibido'" class="col-12 text-center">
        <ion-button size="large"  [disabled]="pedidoDelCliente?.estado !='entregado'" color="success" (click)="Recibir()">Recibí el pedido</ion-button>
      </div>
    </div>
  </div> 

</ion-content>

