<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Listado de pedidos de cocina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="pedidos.length else spinner">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-center ion-text-center">

        <ion-col size=9>
          <div>
            <ion-card style="height: 150%; width: 95%;" *ngFor="let pedido of pedidos">
              <ion-card-header>
                <ion-card-title style="font-size:35px;">

                  <h3>Productos:</h3>
                  <app-timer (terminado)="recibirTimer($event, pedido)" [segundos]="pedido.tiempoCocina"
                    *ngIf="pedido?.timer === true && !pedido?.terminado"></app-timer>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content class="ion-align-items-center" *ngFor="let plato of pedido.productos">
                <label class="fs-3 mb-1 text-light">{{plato.nombre}}</label>
                <img [src]="plato.fotos[0]" style="height:200px !important; width: 250px !important;">
              </ion-card-content>
              <ion-item *ngIf="!pedido?.timer && !pedido?.terminado" class="ion-text-center">
                <ion-button color="success" (click)="PrepararPlato(pedido)">Preparar pedido</ion-button>
              </ion-item>
              <ion-item *ngIf="pedido?.timer === true">
                <ion-button color="danger" [disabled]="!pedido?.terminado" (click)="EntregarPlato(pedido)">Entregar
                  pedido</ion-button>
              </ion-item>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ng-template #spinner>
    <app-spinner></app-spinner>
  </ng-template>
</ion-content>