ion-content{
    --background: url('../../../assets/pedido.jpg') 100%;
}

.oscuro{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
}