<ion-header>
  <ion-toolbar>
    <ion-title>Hacer pedido</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="first" style="font-size:14px;">Menu</ion-menu-button>
    </ion-buttons>
    <ion-button slot="secondary" color="primary" style="font-size:10px;" (click)="audio.PlayAudio()"[routerLink]="['/chat']">Consultar al mozo
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="p-0 m-0" scroll-y="false">
  <app-lista-productos (producto)="recibirProducto($event)"></app-lista-productos>
</ion-content>
<ion-footer style="height: 56px;background-color: #232323;">
  <div *ngFor="let producto of productos; let i = index" class="d-inline">
    <img *ngIf="i <= 1" [src]="producto.fotos[0]" height="30px" width="30px" class="mt-2 ms-1" alt="">
    <ion-badge *ngIf="i <= 1" color="primary">{{producto.cantidad}}</ion-badge>
    <span [ngClass]="{'d-none': i < 1 || i > 1, 'd-inline': i === 1 }" class="mt-3 ms-1 text-white"><i
        class="fas fa-plus-circle"></i></span>
  </div>
  <button class="btn btn-primary mt-2" style="float:right !important;" (click)="verPedido()">Ver pedido
    ({{cantidad}})</button>
  <button class="btn btn-danger mt-2 me-2" style="float:right !important;" (click)="resetearPedido()">Limpiar</button>

</ion-footer>