<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" style="max-height: 100vh !important;" >
    <form [formGroup]='form' (ngSubmit)='this.login()'>
        <div class="containerForm text-white">
            <img [src]="this.logo" alt="" height="150px" width="150px">
            <h1>Ingreso</h1>
            <h3>Ingrese sus datos:</h3>

            <div class="row">
                <div class="col-12">
                    <ion-item>
                        <ion-label class="ms-1" position="floating" for="email"><b>Email</b></ion-label>
                        <ion-input type="text" class="" formControlName='email' name="email" required></ion-input>
                    </ion-item>
                    
                    <div class='text-danger p-1 m-0' *ngIf="form.get('email')?.touched && form.get('email')?.errors?.required">
                        Ingrese su email
                    </div>
                    <div class='text-danger p-1 m-0' *ngIf="form.get('email')?.touched && form.get('email')?.errors?.email">
                        Ingrese un email valido
                    </div>
                </div>
                <div class="col-12">
                    <ion-item>
                        <ion-label class="ms-1" position="floating" for="password"><b>Contraseña</b></ion-label>
                        <ion-input type="password" class="" formControlName='password' name="password" required></ion-input>
                    </ion-item>
                    
                    <div class='text-danger p-1' *ngIf="form.get('password')?.touched && form.get('password')?.errors?.required">
                        Ingrese su contraseña
                    </div>
                    <div class='text-danger p-1' *ngIf="form.get('password')?.touched && form.get('password')?.errors?.minlength">
                        La contraseña debe tener 8 caracteres o mas
                    </div>
                </div>
            </div>        
            <div class="row">
                <div class="col-12">
                    <ion-button type="submit" [disabled]="form.invalid" class="mt-3" color="secondary" fill="solid" expand="block">Ingresar</ion-button>
                    <ion-button type="button" class="mt-3" color="secondary" fill="solid" expand="block" (click)="accesoRapidoCliente()">Cliente</ion-button>
                    <ion-button type="button" class="mt-3" color="secondary" fill="solid" expand="block" (click)="accesoRapidoMetre()">Metre</ion-button>
                </div>
            </div>
        </div>
    </form>
</div>
</ion-content>
