<ion-header>
    <ion-toolbar>
        
        <ion-title>Iniciar sesión</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button menu="first"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container" style="max-height: 100vh !important;">
        <form [formGroup]='form' (ngSubmit)='this.login()'>
            <div class="containerForm text-white">
                <img [src]="this.logo" alt="" height="100px" width="100px">
                <h1>Ingreso</h1>
                <h3>Ingrese sus datos:</h3>

                <div class="row">
                    <div class="col-12">
                        <ion-item>
                            <ion-label class="ms-1" position="floating" for="email"><b>Email</b></ion-label>
                            <ion-input type="text" class="" formControlName='email' name="email" required></ion-input>
                        </ion-item>

                        <div class='text-light px-1 error-text m-0'
                            *ngIf="form.get('email')?.touched && form.get('email')?.errors?.required">
                            Ingrese su email
                        </div>
                        <div class='text-light px-1 error-text m-0'
                            *ngIf="form.get('email')?.touched && form.get('email')?.errors?.email">
                            Ingrese un email valido
                        </div>
                    </div>
                    <div class="col-12">
                        <ion-item>
                            <ion-label class="ms-1" position="floating" for="password"><b>Contraseña</b></ion-label>
                            <ion-input type="password" class="" formControlName='password' name="password" required>
                            </ion-input>
                        </ion-item>

                        <div class='text-light px-1 error-text'
                            *ngIf="form.get('password')?.touched && form.get('password')?.errors?.required">
                            Ingrese su contraseña
                        </div>
                        <div class='text-light px-1 error-text'
                            *ngIf="form.get('password')?.touched && form.get('password')?.errors?.minlength">
                            La contraseña debe tener 8 caracteres o mas
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ion-row>
                            <ion-col size='12'>
                                <ion-button type="submit" [disabled]="form.invalid" class="mt-2" color="success"
                                    style="font-size:12px;" fill="solid" expand="block">Ingresar</ion-button>
                            </ion-col>
                            <ion-col size='12'>
                                <ion-button type="button" class="mt-2" color="success"
                                    style="font-size:12px;" fill="solid" expand="block" (click)="audioS.PlayAudio()" [routerLink]="['/registro-cliente']">Registrarse</ion-button>
                            </ion-col>
                            <ion-col size='4'>
                                <ion-button type="button" class="mt-2 text-light" color="primary" fill="solid" expand="block"
                                    style="font-size:12px;" (click)="accesoRapidoCliente()">
                                    Cliente</ion-button>
                            </ion-col>
                            <ion-col size='4'>
                                <ion-button type="button" class="mt-2 text-light" color="primary" fill="solid" expand="block"
                                    style="font-size:12px;" (click)="accesoRapidoMetre()">Metre
                                </ion-button>
                            </ion-col>
                            <ion-col size='4'>
                                <ion-button type="button" class="mt-2 text-light" color="primary" fill="solid" expand="block"
                                    style="font-size:12px;" (click)="accesoRapidoSupervisor()">
                                    Dueño</ion-button>
                            </ion-col>
                            <ion-col size='4'>
                                <ion-button type="button" class="mt-2 text-light" color="primary" fill="solid" expand="block"
                                    style="font-size:12px;" (click)="accesoRapidoMozo()">Mozo
                                </ion-button>
                            </ion-col>
                            <ion-col size='4'>
                                <ion-button type="button" class="mt-2 text-light" color="primary" fill="solid" expand="block"
                                    style="font-size:12px;" (click)="accesoRapidoCocinero()">
                                    Cocinero</ion-button>
                            </ion-col>
                            <ion-col size='4'>
                                <ion-button type="button" class="mt-2 text-light" color="primary" fill="solid" expand="block"
                                    style="font-size:10px;" (click)="accesoRapidoBartender()">
                                    Bartender</ion-button>
                            </ion-col>
                        </ion-row>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ion-content>