<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Ahorcado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <div class="col-1 d-inline">
        <div id="keyboard" *ngFor='let letra of abecedario' class='d-inline'>
          <button class="btn btn-lg btn-primary m-2 d-inline" id='letter' (click)="this.cambiarLetra(letra)">{{letra}}</button>
        </div>
      </div>

      <div class="row justify-content-center">
        <img style="height: 80%; width: 80%;" [src]="image">
      </div>

    <div *ngIf="errores>=7">
        <div>
            <div class="text-danger row justify-content-center m-5" style="font-size: 72px; font-family: Verdana, Geneva, Tahoma, sans-serif">GAME OVER!</div>
        </div>
    </div>
    <div *ngIf="!arrayGuiones.includes('_') && !firstTime">
        <div>
            <div class="text-success row justify-content-center m-5" style="font-size: 72px; font-family:Verdana, Geneva, Tahoma, sans-serif">GANASTE!</div>
        </div>
    </div>
    <div class="row justify-content-center" class="text-success row justify-content-center m-5" style="font-size: 30px; font-family: Verdana, Geneva, Tahoma, sans-serif">
      <button (click)="SetearPalabra()">Resetear</button>
    </div>

    <div class="text-light text-center">
      <div *ngIf="errores < 7">
        <div *ngFor='let espacio of this.arrayGuiones' class='espacios d-inline'>
          <p class="d-inline px-1">{{espacio}}</p>
        </div>
      </div>
    </div>
</ion-content>