<ion-content>
    <div class="container" style="max-height: 100vh !important;" >
        <div *ngIf="this.fotoS.loading">
            <app-spinner></app-spinner>
        </div>
      
        <form [formGroup]='controles' (ngSubmit)='RegistrarCliente()'>
            <div class="containerForm bg-dark text-white">
                <ion-row class="ion-justify-content-center ion-align-items-center">
                    <ion-label color='dark' class="label">Registro anónimo </ion-label>
                    <ion-toggle (click)="this.registroAnonimo()"></ion-toggle>
                </ion-row>
                <h3>Ingrese sus datos:</h3>
  
                <div class="row">
                    <div class="col-12" *ngIf='!this.anonimo'>
                        <label for="email"><b>Email</b></label>
                        <input type="text" formControlName='email' name="email" required>
                        
                        <div class='text-danger p-1 m-0' *ngIf="controles.get('email')?.touched && controles.get('email')?.errors?.required">
                            Ingrese su email
                        </div>
                        <div class='text-danger p-1 m-0' *ngIf="controles.get('email')?.touched && controles.get('email')?.errors?.email">
                            Ingrese un email valido
                        </div>
                    </div>
                    <div class="col-12" *ngIf='!this.anonimo'>
                        <label for="password"><b>Contraseña</b></label>
                        <input type="password" formControlName='password' name="password" required>
                        
                        <div class='text-danger p-1' *ngIf="controles.get('password')?.touched && controles.get('password')?.errors?.required">
                            Ingrese su contraseña
                        </div>
                        <div class='text-danger p-1' *ngIf="controles.get('password')?.touched && controles.get('password')?.errors?.minlength">
                            La contraseña debe tener 8 caracteres o mas
                        </div>
                    </div>
                    <div class="col-12" *ngIf="this.anonimo">
                        <label for="password"><b>Nombre</b></label>
                        <input type="text" formControlName='nombre' name="nombre" required>
                        
                        <div class='text-danger p-1' *ngIf="controles.get('nombre')?.touched && controles.get('nombre')?.errors?.required">
                            Ingrese su nombre
                        </div>
                        <div class='text-danger p-1' *ngIf="controles.get('nombre')?.touched && controles.get('nombre')?.errors?.minlength">
                            Ingrese un nombre valido
                        </div>
                    </div>
                <div *ngIf='!this.anonimo'>
                    <div class="col-12">
                        <label for="password"><b>Apellido</b></label>
                        <input type="text" formControlName='apellido' name="apellido" required>
                        
                        <div class='text-danger p-1' *ngIf="controles.get('apellido')?.touched && controles.get('apellido')?.errors?.required">
                            Ingrese su apellido
                        </div>
                        <div class='text-danger p-1' *ngIf="controles.get('apellido')?.touched && controles.get('apellido')?.errors?.minlength">
                            Ingrese un apellido valido
                        </div>
                    </div>
                    <div class="col-12" *ngIf="!this.anonimo">
                        <label for="password"><b>DNI</b></label>
                        <div class="d-flex aling-items-center">
                            <input class='d-inline' type="number" formControlName='dni' name="dni" required style="width: 85%;">
                            <i class="fas fa-qrcode pt-3 ps-2" (click)="this.scanDNI()" style="font-size: 32px;"></i>
                        </div>
                        
                        <div class='text-danger p-1' *ngIf="controles.get('dni')?.touched && controles.get('dni')?.errors?.required">
                            Ingrese su dni
                        </div>
                        <div class='text-danger p-1' *ngIf="controles.get('dni')?.touched && controles.get('dni')?.errors?.minlength">
                            Ingrese un dni valido
                        </div>
                    </div>   
                </div>               
                </div>        
                <div class="row">
                    <div class="col-12">
                        <button type="submit" [disabled]='controles.invalid' class="btn">Registrar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ion-content>