<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title *ngIf="this.auth.usuarioActual?.perfil=='dueno'">Churrasic Park Dueño </ion-title>
      <ion-title *ngIf="this.auth.usuarioActual?.perfil=='supervisor'">Churrasic Park Supervisor</ion-title>
      <ion-title *ngIf="this.auth.usuarioActual?.tipo">Churrasic Park {{auth.usuarioActual?.tipo | titlecase}} </ion-title>
      <ion-title *ngIf="this.auth.usuarioActual?.tipoCliente">Churrasic Park - Cliente</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content style="--background: #232323">
    <ion-list *ngIf="!this.auth?.usuarioActual">
      <ion-menu-toggle>
        <ion-item [routerLink]="['/home']" (click)="this.menu.close('main')">Home</ion-item>
      </ion-menu-toggle>
      

    </ion-list>
    <ion-list *ngIf="this.auth?.usuarioActual">
      <ion-menu-toggle>
        <ion-item [routerLink]="['/home']">Home</ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle *ngIf="this.auth.usuarioActual?.tipo == 'metre'">
        <ion-item [routerLink]="['/lista-espera']">Lista de espera</ion-item>
      </ion-menu-toggle>
      
      <ion-menu-toggle *ngIf="this.auth.usuarioActual?.tipo == 'metre'">
        <ion-item [routerLink]="['/mesa-asignada-cliente']">Asignar mesas</ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle *ngIf="this.auth.usuarioActual?.tipo == 'metre'">
        <ion-item [routerLink]="['/registro-cliente']">Registrar cliente</ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle *ngIf="this.auth.usuarioActual?.tipo == 'bartender' || this.auth.usuarioActual?.tipo == 'cocinero'">
        <ion-item [routerLink]="['/registro-producto']">Registrar producto</ion-item>
      </ion-menu-toggle>
      
      <ion-menu-toggle *ngIf="this.auth.usuarioActual?.perfil">
        <ion-item [routerLink]="['/registro-empleado']">Registro empleado</ion-item>
      </ion-menu-toggle>
      
      <ion-menu-toggle *ngIf="this.auth.usuarioActual?.perfil">
        <ion-item [routerLink]="['/registro-supervisor']">Registro supervisor</ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle *ngIf="this.auth.usuarioActual?.perfil">
        <ion-item [routerLink]="['/registro-mesa']">Alta de mesa</ion-item>
      </ion-menu-toggle>
      
      <ion-menu-toggle *ngIf="this.auth?.usuarioActual?.tipo === 'mozo'">
        <ion-item [routerLink]="['/chat']">Chat</ion-item>
      </ion-menu-toggle>

      <ion-footer class="bar-stable">
        <ion-item [routerLink]="['/login']" style="left:0;right:0;margin:0; width: 100%;position: fixed;">fsafasfas</ion-item>
      </ion-footer>
    </ion-list>
  </ion-content>
</ion-menu>