.cuenta{
    background-color: #b85a8c;
    height: 100vh !important;
    --background: url("../../../assets/hoja.jpg") repeat 100%;
}

.bottomSizeScaneo{
    height: 133px;
}

.bottomSizeNoScaneo{
    height: 99px;
}