<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="audio.PlayAudio()"slot="start">
      <ion-back-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title style='color:#FF7F50 !important;' *ngIf="this.userService.usuarioActual?.tipoCliente; else chatCliente">Chat con el mozo</ion-title>
    <ng-template #chatCliente>
      <ion-title style='color:#FF7F50 !important;'>Chat con las mesas</ion-title>
    </ng-template>
  </ion-toolbar>
</ion-header>

<ion-content #chat padding>
  <div *ngFor="let message of items | async">
    <ion-card style='width:80%;margin:0 auto 10px 10px;' *ngIf="this.userService.usuarioActual?.id !== message.user?.id"
      class="chat">
      <div id="chat_content">
        <ion-card-header *ngIf="this.userService.tipoUsuario != 'cliente'" class="text-dark">
          Mesa {{message.user.mesaAsignada}}
        </ion-card-header>
        <ion-card-header *ngIf="this.userService.tipoUsuario == 'cliente'">
          {{message.tipo}}
        </ion-card-header>
        <ion-card-content style='padding-bottom:5px;' class="sms">
          {{message.message}}
        </ion-card-content>
        <ion-card-content class="text-dark">
          {{message.hour}}
        </ion-card-content>
      </div>
    </ion-card>
    <ion-card style='width:80%;margin:0 10px 10px auto;background: rgba(226, 182, 182, 0.808);border-radius: 20px;'  *ngIf="this.userService.usuarioActual?.id === message.user?.id">
      <div class="ion-float-right">
        <ion-card-content class="sms">
          {{message.message}}
        </ion-card-content>
        <ion-card-content class="text-dark">
          {{message.hour}}
        </ion-card-content>
      </div>
    </ion-card>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar class="tool">
    <div style="width: auto; padding: 0 10px">
      <ion-input type="text" class="ingreso-mensaje" maxlength="21" style="border: 1px solid; border-radius: 10px; background: rgb(240, 228, 220); color: rgb(0, 0, 0);"
        [(ngModel)]="this.mensaje"></ion-input>
    </div>
    <ion-icon name="send-outline" style="font-size: 28px; padding: 5px; color: rgb(4, 161, 4);" slot="end" (click)="MandarMensaje()"></ion-icon>
  </ion-toolbar>
</ion-footer>