<ion-header>
  <ion-toolbar>
    <ion-title>Registro de empleados</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="first" ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div id="container">
    <ion-button [routerLink]="['/login']">Login</ion-button>
    <ion-button [routerLink]="['/registro-cliente']">Cliente</ion-button>
    <ion-button [routerLink]="['/registro-mesa']">Mesa</ion-button>
    <ion-button [routerLink]="['/registro-producto']">Producto</ion-button>
    <ion-button [routerLink]="['/registro-empleado']">Empleado</ion-button>
    <ion-button [routerLink]="['/registro-supervisor']">Dueño/Supervisor</ion-button>
    <!-- <ion-button (click)="this.mailS.enviarAviso()">Mandar Mail</ion-button> -->
    <ion-button (click)="this.auth.TraerClientesDeshabilitados()">TEST</ion-button>
  </div>
</ion-content>
