<ion-header>
  <ion-toolbar>
    <ion-title>Pagina principal</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="first" style="font-size:14px;">Menu</ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div id="container">
    <ion-button [routerLink]="['/login']">Login</ion-button>
    <ion-button [routerLink]="['/registro-cliente']">Cliente</ion-button>
    <ion-button [routerLink]="['/registro-mesa']">Mesa</ion-button>
    <ion-button [routerLink]="['/registro-producto']">Producto</ion-button>
    <ion-button [routerLink]="['/registro-empleado']">Empleado</ion-button>
    <ion-button [routerLink]="['/registro-supervisor']">Dueño/Supervisor</ion-button>
    <ion-button [routerLink]="['/lista-espera']">Permitir entrada de clientes a la mesa</ion-button>
    <ion-button [routerLink]="['/lista-cliente-deshabilitados']">Permitir entrada de clientes al local</ion-button>
    <ion-button [routerLink]="['/chat']">Chat</ion-button>
    <ion-button [routerLink]="['/mesa-asignada-cliente']">Mesa QR escaneado</ion-button>
    <ion-button [routerLink]="['/cliente-espera-pedido']">PRE-QR</ion-button>
    <ion-button [routerLink]="['/realizar-pedido']">REALIZAR PEDIDO</ion-button>
  </div>
</ion-content>
