<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button [routerLink]="['/registro-cliente']">Cliente</ion-button>
    <ion-button [routerLink]="['/registro-mesa']">Mesa</ion-button>
    <ion-button [routerLink]="['/registro-producto']">Producto</ion-button>
    <ion-button [routerLink]="['/registro-empleado']">Empleado</ion-button>
    <ion-button [routerLink]="['/registro-supervisor']">Dueño/Supervisor</ion-button>
    <ion-button (click)="this.scan()">Scannear</ion-button>
  </div>
</ion-content>
