<ion-header>
  <ion-toolbar>
    <ion-title>Pedidos - Mozo</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="first" style="font-size:14px;">Menu</ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="pedidos; else spinner">
    <div *ngIf="pedidos.length; else vacio">
      <ion-grid>
        <ion-row class="ion-justify-content-center ion-align-items-center ion-text-center">
        
          <ion-col size=9 *ngFor="let pedido of pedidos">
            <div *ngIf="pedido.estado == 'pedido' || pedido.estado == 'listo' || pedido.estado == 'pagado'">
              <ion-card style="height: 150%; width: 95%;">
                <ion-card-header>
                  <ion-card-title style="font-size:35px;">
                    <label> Precio del pedido: {{pedido.precioTotal}} </label>
                  </ion-card-title>
                  <h3 class="fs-3 mb-1 text-light">Productos:</h3>
                </ion-card-header>
                <ion-card-content class="ion-align-items-center" *ngFor="let producto of pedido.productos">
                  <h2 class="fs-3 mb-1 text-light">{{producto.nombre}}</h2>
                  <h3 class="fs-3 mb-1 text-light">Cantidad: {{producto.cantidad}}</h3>
                      <img [src]="producto.fotos[0]" style="height:200px !important; width: 250px !important;"> 
                </ion-card-content>
                <ion-item class="ion-text-center" align="center">
                  <ion-button *ngIf="pedido.estado == 'pedido'" color="success" (click)="Asignar(pedido)">Asignar pedido</ion-button>
                  <ion-button *ngIf="pedido.estado == 'listo'" color="success" (click)="Entregar(pedido)">Entregar pedido</ion-button>
                  <ion-button *ngIf="pedido.estado == 'pagado'" color="warning" (click)="ConfirmarPago(pedido)">Confirmar pago</ion-button>
                </ion-item>
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <ng-template #spinner>
    <app-spinner></app-spinner>
  </ng-template>
  <ng-template #vacio>
    <div class="container">
      <div class="row align-items-center justify-content-center g-5" style="height:90vh;">
        <h4 class="bg text-center">Por el momento no hay productos para confirmar o entregar</h4>
      </div>
    </div>
  </ng-template>
</ion-content>
