<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Listado de pedidos a confirmar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="pedidos; else spinner">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-center ion-text-center">
      
        <ion-col size=9 *ngFor="let pedido of pedidos">
          <div *ngIf="pedido.estado == 'pedido' || pedido.estado == 'listo' || pedido.estado == 'confirmado'">
            <ion-card style="height: 150%; width: 95%;">
              <!-- <div *ngFor="let foto of coctel.fotos">
              <img   class="img-circle img-responsive" [src]="foto" width="100px" height="100px" />
              </div> -->
              <ion-card-header>
                <ion-card-title style="font-size:35px;">
                  <label> Precio del pedido : {{pedido.precioTotal}} </label>
                </ion-card-title>
                <h1>Productos:</h1>
              </ion-card-header>
              <ion-card-content class="ion-align-items-center" *ngFor="let producto of pedido.productos">
                <h2>{{producto.nombre}}</h2>
                <h3>Cantidad: {{producto.cantidad}}</h3>
                  	<img [src]="producto.fotos[0]" width="150px" height="150px"> 

              </ion-card-content>
              <ion-item class="ion-text-center" align="center">
                <ion-button *ngIf="pedido.estado == 'pedido'" color="success" (click)="Asignar(pedido)">Asignar pedido</ion-button>
                <ion-button *ngIf="pedido.estado == 'listo'" color="success" (click)="Entregar(pedido)">Entregar pedido</ion-button>
                <ion-button *ngIf="pedido.estado == 'pagado'" color="warning" (click)="ConfirmarPago(pedido)">Confirmar pago</ion-button>
              </ion-item>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ng-template #spinner>
    <app-spinner></app-spinner>
  </ng-template>
</ion-content>
