<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Ingreso al local</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container col-xxl-8 mt-3 px-4 bg-dark">
    <div class="row flex-lg-row-reverse align-items-center g-5">
      <div class="col-12 col-sm-8 col-lg-6">
        <img src="../../../assets/puerta.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Bienvenido a NOMBRE RESTAURANTE</h1>
        <p class="lead">Por favor, ingrese a la lista de espera y espere a que un metre le asigne una mesa.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button *ngIf="!listaEspera" (click)="EntrarEnListaEspera()" type="button" class="btn btn-primary btn-lg px-4 me-md-2">Entrar a la lista de espera</button>
          <label *ngIf="listaEspera" class="btn btn-primary btn-lg px-4 me-md-2"  [class.button-disabled]="true">Entraste a la lista de espera!</label>
        </div>
      </div>
    </div>
  </div>

</ion-content>
