<ion-header>
  <ion-toolbar>
    <ion-title>graficoCliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='light'>
  <div *ngIf="chartTerminado" style="display: block">
    <ion-row class="ion-justify-content-center" style="margin-bottom: 30px;">
      <h3 style="margin-top: 60px;" >Satisfaccion de los clientes</h3>
      <canvas baseChart
              [data]="chart.primero.pieChartData"
              [labels]="chart.primero.pieChartLabels"
              [chartType]="chart.primero.pieChartType">
      </canvas>

      <h3 style="margin-top: 60px;" >Trato del mozo</h3>
      <canvas baseChart
              [data]="chart.segundo.pieChartData"
              [labels]="chart.segundo.pieChartLabels"
              [chartType]="chart.segundo.pieChartType">
      </canvas>
            
      <h3 style="margin-top: 60px;" >Volveria al local?</h3>
      <canvas baseChart
              [data]="chart.tercero.pieChartData"
              [labels]="chart.tercero.pieChartLabels"
              [chartType]="chart.tercero.pieChartType">
      </canvas>

      <h3 style="margin-top: 60px;" >Pidio cocteles o postres?</h3>
      <canvas baseChart
              [data]="chart.cuarto.pieChartData"
              [labels]="chart.cuarto.pieChartLabels"
              [chartType]="chart.cuarto.pieChartType">
      </canvas>
    </ion-row>
  </div>
</ion-content>
