img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.bg{
    background-color: #232323a1;
}

ion-content{
    --background: url('../../../assets/fondo-deshabilitado.jpg')  10% top;
    background-repeat: no-repeat;
    background-attachment: fixed !important;
  }
  