<ion-header>
  <ion-toolbar>
    <ion-title>Lista de espera</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="listaDeEsperaArray; else spinner">
    <ion-row class="ion-justify-content-center ion-align-items-center ion-text-center">
      <ion-col style="text-shadow: 6px 6px 6px rgb(0, 0, 0);">
        Acepte al cliente para concederle una mesa o rechacelo
      </ion-col>
    </ion-row>
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-center ion-text-center">

        <ion-col size=6 *ngFor="let item of listaDeEsperaArray" [ngClass]="{'d-none' : item.mesaAsignada }">
          <div>
            <ion-card style="height: 150%; width: 95%;">
              <img class="d-block m-auto img-circle img-responsive" [src]="item.foto" />
              <ion-card-header>
                <ion-card-title style="font-size:12px;">{{item.nombre}} {{item.apellido}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <div>
                  <form [formGroup]="controles" (ngSubmit)="AsignarMesa(item)">
                    <ion-item>
                      <ion-select formControlName="mesa" type="ios" interface="popover" placeholder="N° Mesa">
                        <div *ngFor="let mesa of mesasArray">
                          <ion-select-option *ngIf="!mesa.cliente" value={{mesa.numero}}>{{mesa.numero}}
                          </ion-select-option>
                        </div>


                      </ion-select>
                    </ion-item>
                    <ion-item>
                      <ion-button [disabled]="controles.invalid" color="success" type="submit">Asignar</ion-button>
                    </ion-item>
                  </form>
                </div>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ng-template #spinner>
    <app-spinner></app-spinner>
  </ng-template>
</ion-content>