<ion-header>
  <ion-toolbar>
    <ion-title>Carrito</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container" *ngIf="productos.length; else vacio" style="max-height: 100vh !important;">
    <div class="row align-items-center justify-content-center">
      <ion-list translucent style="background: rgba(0,0,0,.5)" class="">
        <ion-item color="none" style="background: transparent" *ngFor="let producto of productos" translucent>
          <ion-avatar slot="start">
            <img [src]="producto.fotos[0]">
          </ion-avatar>
          <ion-label>
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  Producto: {{producto.nombre}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="2">
                  Descripción: {{producto.descripcion}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="2">
                  Precio: {{producto.precio}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="10">
                  Cantidad: {{producto.cantidad}}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        </ion-item>
        <div style="margin-top:100px !important;">

        </div>
      </ion-list>
    </div>
    <footer style="position: fixed; bottom: 0;left:0;background-color: #232323; height: 90px;width: 100%;display: block;margin:0 !important;padding:0 !important;">
      <h4 class="d-inline ion-float-right me-2">Importe: ${{precio}}</h4>
      <h4 class="d-inline ion-float-left ms-2">Tiempo estimado: {{maxTiempo}}</h4>
      <ion-button color='success' *ngIf="this.productos.length" shape="round" expand="block"
      (click)="realizarPedido()">Realizar pedido</ion-button>
    </footer>
  </div>
  <ng-template #vacio>
    <div class="container">
      <div class="row align-items-center justify-content-center g-5" style="height:90vh;">
        <h4 class="bg text-center">Por el momento no hay clientes en la lista de espera</h4>
      </div>
    </div> 
   </ng-template> 
</ion-content>