<ion-header>
  <ion-toolbar>
    <ion-title>Cantidad {{productos?.length}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="container" style="max-height: 100vh !important;">
    <ion-list translucent style="background: rgba(0,0,0,.5)" class="mt-auto mb-0">
      <ion-item color="none" style="background: transparent" *ngFor="let producto of productos" translucent>
        <ion-avatar slot="start">
          <img [src]="producto.fotos[0]">
        </ion-avatar>
        <ion-label>
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                Producto: {{producto.nombre}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2">
                Descripción: {{producto.descripcion}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2">
                Precio: {{producto.precio}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="10">
                Cantidad: {{producto.cantidad}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-button color='success' shape="round" class="m-auto d-block" (click)="realizarPedido()">Realizar pedido</ion-button> 
  </div>
</ion-content>